body{
  overflow: hidden;
  margin: 0;
  padding: 0;	
}
canvas {
  position: relative;
}
.arcade{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 10px;
  position: absolute;
  color : #aaa;
  font-size: 12px
}